* {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.banner {
  width: 100%;
  height: 14ch;
  display: flex;
  flex-flow: row;
  justify-content: space-between;

}

body {
  background-image: url('pairembackground.jpg');
  background-size: 101%;
}
  
h1 {
  color: var(--darkgreen);
  text-align: center;
  font-size: x-large;
}

.container {
  height: 90%;
  display: flex;
  justify-content: center;
}

.vertical-center {
  margin: 30ch;
  top: 50%;
}

button {
  border: 0ch;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: white;
  color: var(--darkgreen);
  padding: 5ch;
  font-size: x-large;
  border-radius: 10%;
}

button:hover {
  background-color: var(--darkgreen);
  color: white;

}

a {
  padding: 2ch;
  color:var(--darkgreen);
}

.login {
  display: flex;
  flex-flow: row;
  justify-content: center;
}

.about-us {
  background-color: white;
  width: 100%;
  min-height:100px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

p {
  color: var(--darkgreen);
  text-align: center;
  font-size: large;
  line-height: 2rem;
}

.para {
  width: 65%;
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 3%;
  margin-bottom: 8%;
}





:root {
  --lightgreen : rgb(184, 230, 93);
  --darkgreen : #71A731;
}